nav {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

nav .slogan span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgb(205, 16, 48);
    padding-right: 10px;
    margin-right: 80px;
}

nav .identifiant {
    margin-left: 200PX;
    justify-content: space-around;
    padding-right: 50px;
    padding-top: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: rgb(10, 123, 180);
    font-size: 20px;
}
 .search {
     height: 35px;
     width: 600PX;
     margin-left: 40px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     
     font-size: 10PX;
     border-radius: 15px;
 }

.PartAB{
    padding-left: 85px;
    padding-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        font-size: 35PX;
        

}

.PartABA{


}
.Trier{
    font-weight: bold;
        font-size: 25PX;
}
.PartAA {
    padding-left: 85px;
    padding-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15PX;

}
.PartA {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

form .localisation, .destination {
    width: 100%;
    height: 40px;
    margin-top: 30px;
}

form .place input {
    width: 50PX;
    height: 50px;
    
}

form .destination input, .localisation input {
    width: 100%;
    font-size: 1em;
    border: 0px;
    border-bottom: 1.5px solid black;
    display: block;
    height: 100%;
    padding-left: 10px;
}
  .forms_buttons-action {
      height: 35px;
      width: 80PX;
      font-size: 15px;
     border-color: red;
      margin-right: 25px;
      color: white;
      border-radius: 20px;
      background-color:red;
      margin-top: 10PX;
  }






