:root {
    --bs-font-sans-serif: 'Rubik', sans-serif;
}

.container-xxl {
    max-width: 1530px;
}

a {
    color: var(--bs-dark);
}

.category__link {
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 250ms all;
}

.category__link:hover {
    transform: scale(1.1);
}